// Colores de la paleta de colores para reemplazar los colores de bootstrap.
$ram_primary: #24325f;
$ram_secondary: #a6eee6;
$ram_danger: #fb6467;
$ram_success: #c1f762;
$ram_warning: #e89242;
$ram_info: #82491e;
